div.name {

	top: 50%;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: -200px;

}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:  84px;
	font-weight: 600;
	margin-bottom: -5px;
}

p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:  22px;
	font-weight: 200;
}

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  color: 007CCA;
  text-align: center;
  text-decoration: underline;
}